iam:
  url: ${KEYCLOAK_URL}
  realm: ${KEYCLOAK_REALM}
  issuer: ${iam.url}/realms/${iam.realm}
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

database:
  url: jdbc:postgresql://${POSTGRES_HOST}:5432/${POSTGRES_DATABASE}
  username: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}

server:
  port: ${TOMCAT_PORT}
  tomcat:
    threads:
      max: 600

spring:
  application:
    name: loyalty
    version: 1.0.1
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 12MB
  banner:
    charset: utf-8
    location: static/banner/sepidan-loyalty.txt
  datasource:
    url: ${database.url}
    username: ${database.username}
    password: ${database.password}
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 60000        # 1 minutes
      max-lifetime: 1800000      # 30 minutes
      connection-timeout: 30000  # 30 second
      pool-name: LoyaltyPool
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${iam.issuer}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  data:
    redis:
      database: 0
      host: localhost
      port: 6379
      password: very_secret

  liquibase:
    enabled: true
    change-log: classpath:/db/db.changelog-master.yaml
    url: ${database.url}
    user: ${database.username}
    password: ${database.password}

  devtools:
    add-properties: false
    restart:
      enabled: false
    livereload:
      enabled: false

springdoc:
  swagger-ui:
    path: /api-docs/swagger-ui
    config-url: /loyalty/api-docs/manual/swagger-config
  api-docs:
    path: /api-docs/manual

logging:
  level:
    root: INFO          # Default for everything
    org.springframework.web: WARN
    org.hibernate: WARN
    org.liquibase: INFO
    org.springframework.cloud.openfeign: INFO
  file:
    name: /var/log/myapp/application.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"